<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<link rel="stylesheet" href="/styles/style.css">

<div class="col-md-offset-1 col-lg-offset-2 col-md-10 col-lg-8">
	<div class="codrops-top">
        <button id="home" class="top-bar"><a href="/">Home</a></button>
        <button id="search" type="button" class="top-bar" onclick="chkLogin()">Search</button>

        <button id="admin" type="button" class="top-bar"><a href="/house/admin">Admin</a></button>

        <button id="userhouse" type="button" class="top-bar"><a href="/user/own">My House</a></button>
        <button id="addhouse" type="button" class="top-bar"><a href="/house/add">Add New</a></button>
        <button id="interest" type="button" class="top-bar"><a href="/house/interested">My Interest</a></button>
          
        <button id="login" class="top-bar-right"><a href="/user/login">Login</a></button>  
        <button id="logout" class="top-bar-right" onclick="logout()">Logout</button>   
        <button id="user" class="top-bar-right-user"></button>
    </div>
    <br><br><br>

    <form action="/house/update" method="post">    
        <table class="edit" style="width: 100%">
            <input name="id" value="<%=house.id%>" hidden></div>
            <tr>
                <td style="width: 20%; text-align: right; font-size: 20px">Property Description:</td>
                <td style="width: 80%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="title" value="<%=house.title%>"></td>
            </tr>
            <tr>
                <td style="width: 20%; text-align: right; font-size: 20px">Image URL:</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="image" value="<%=house.image%>"></td>
            </tr>
            <tr>
                <td style="width: 20%; text-align: right; font-size: 20px">District:</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select id="district" name="district">
                        <option value="Festival City">Festival City</option>
                        <option value="Tin Ma Court">Tin Ma Court</option>
                        <option value="City One Shatin">City One Shatin</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="width: 20%; text-align: right; font-size: 20px">Bedrooms:</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" name="bedroom" min="1" max="4" value="<%=house.bedroom%>"></td>
            </tr>
            <tr>
                <td style="width: 20%; text-align: right; font-size: 20px">Area:</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" name="area" min="0" max="2000" value="<%=house.area%>"></td>
            </tr>
            <tr>
                <td style="width: 20%; text-align: right; font-size: 20px">Lift:</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select id="lift" name="lift">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="width: 20%; text-align: right; font-size: 20px">Guard:</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select id="guard" name="guard">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>   
                </td>
            </tr>
            <tr>
                <td style="width: 20%; text-align: right; font-size: 20px">Price:</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" name="price" min="0" max="30000" step="100" value="<%=house.price%>"></td>
            </tr>
            <% if (user == "admin") {
            %>
                <tr>
                    <td style="width: 20%; text-align: right; font-size: 20px">Highlighted:</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input id="highlight" name="highlight" value="<%=house.highlight%>" style="display: none">
                        <input type="checkbox" id="houseHighlight" name="houseHighlight" checked="<%=house.highlight%>">
                    </td>
                </tr>
            <%
            }
            %>
        </table>
        <button onclick="change()">Update</button>
    </form>   
</div>

<script type="text/javascript">

    window.onload = function() {
        if ("<%=req.session.username%>" == "undefined") {
            document.getElementById("admin").setAttribute("style", "display:none");
            document.getElementById("userhouse").setAttribute("style", "display:none");
            document.getElementById("addhouse").setAttribute("style", "display:none");
            document.getElementById("interest").setAttribute("style", "display:none");            
            document.getElementById("login").setAttribute("style", "display:inline");
            document.getElementById("logout").setAttribute("style", "display:none");
            document.getElementById("user").setAttribute("style", "display:none");
                 
        } else {
            document.getElementById("user").innerHTML = "Hi, <%=req.session.username%>";
            document.getElementById("login").setAttribute("style", "display:none");
            document.getElementById("logout").setAttribute("style", "display:inline");
            document.getElementById("user").setAttribute("style", "display:inline");            
            if ("<%=req.session.username%>" == "admin") {
                document.getElementById("admin").setAttribute("style", "display:inline");
                document.getElementById("userhouse").setAttribute("style", "display:none");
                document.getElementById("addhouse").setAttribute("style", "display:none");
                document.getElementById("interest").setAttribute("style", "display:none"); 
            }  else {
                document.getElementById("admin").setAttribute("style", "display:none");
                document.getElementById("userhouse").setAttribute("style", "display:inline");
                document.getElementById("addhouse").setAttribute("style", "display:inline");
                document.getElementById("interest").setAttribute("style", "display:inline"); 
            }     
        }
    }

    function chkLogin() {
        var currentUser = "<%=req.session.username%>";
        if (currentUser == "undefined") {
            alert("Please login first");
          location.replace("/user/login");
            //document.getElementById("search").className="top-bar";
        } else {
          var xhr = new XMLHttpRequest();
          xhr.open("post", "/house/search", true);
          location.replace("/house/search");
            //document.getElementById("search").className="active";
        }
    }

    function logout() {
        var data = new FormData();
        data.append("username", "undefined");
        var xhr = new XMLHttpRequest();
        xhr.open("post", "/user/logout", true);
        xhr.onload = function(e) {
            location.replace("/");
        };
        xhr.send(data);
    }

    function change() {
        document.getElementById("highlight").value = document.getElementById("houseHighlight").checked;
    }


</script>