<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<link rel="stylesheet" href="/styles/style.css" />
<link rel="stylesheet" href="/styles/nouislider.min.css" />
<link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css'>

<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js'></script>

<div class="col-md-offset-1 col-lg-offset-2 col-md-10 col-lg-8">
	<div class="codrops-top">
        <button id="home" class="top-bar"><a href="/">Home</a></button>
        <button id="search" type="button" class="top-bar" onclick="chkLogin()">Search</button>

        <button id="userhouse" type="button" class="top-bar"><a href="/user/own">My House</a></button>
        <button id="addhouse" type="button" class="top-bar"><a href="/house/add">Add New</a></button>
        <button id="interest" type="button" class="top-bar"><a href="/house/interested">My Interest</a></button>
          
        <button id="login" class="top-bar-right"><a href="/user/login">Login</a></button>  
        <button id="logout" class="top-bar-right" onclick="logout()">Logout</button>   
        <button id="user" class="top-bar-right-user"></button>
    </div>
    <br><br><br>
	
	<div ng-app="myApp" ng-controller="myCtrl">
        <table width="100%" class="clearfix">
            <% house.forEach(function(house){
            %>
            <tr style="border-top:1px solid #000000; font-size: 20px;" >
                <td><a href="/house/view/<%=house.id%>"><%=house.title%></td>
                <td><%=house.district%></td>
                <td><%=house.area%>sq feet</td>
                <td>$<%=house.price%>/month</td>
                <td style="text-align: center"><a href="" style="text-decoration: none" ng-click="showConfirm(<%=house.id%>)">Uninterest</a>
            </tr>
            <%
            });
            %>
        </table>
    </div>
    
</div>

<script type="text/javascript">

    var app = angular.module('myApp', ['ngMaterial']);
    app.controller('myCtrl', function($scope, $mdDialog) {
        $scope.showConfirm = function(id) {
        
            var confirm = $mdDialog.confirm()
            .title('Do you want to uninterest the house?')
            .ok('Yes')
            .cancel('No');

            $mdDialog.show(confirm).then(function() {
                var data = new FormData();
                var xhr = new XMLHttpRequest();
                xhr.open("post", "/house/uninterest/" + id, true);
                xhr.onload = function(e) {
                        alert(this.responseText);
                        location.reload();
                };
                xhr.send(data);               
            }, function() {
                alert("Operation Canceled!");
            });

        };
    });

    window.onload = function() {
        if ("<%=req.session.username%>" == "undefined") {
            document.getElementById("admin").setAttribute("style", "display:none");
            document.getElementById("userhouse").setAttribute("style", "display:none");
            document.getElementById("addhouse").setAttribute("style", "display:none");
            document.getElementById("interest").setAttribute("style", "display:none");            
            document.getElementById("login").setAttribute("style", "display:inline");
            document.getElementById("logout").setAttribute("style", "display:none");
            document.getElementById("user").setAttribute("style", "display:none");                 
        } else {
            document.getElementById("user").innerHTML = "Hi, <%=req.session.username%>";
            document.getElementById("login").setAttribute("style", "display:none");
            document.getElementById("logout").setAttribute("style", "display:inline");
            document.getElementById("user").setAttribute("style", "display:inline");            
            document.getElementById("userhouse").setAttribute("style", "display:inline");
            document.getElementById("addhouse").setAttribute("style", "display:inline");
            document.getElementById("interest").setAttribute("style", "display:inline");                  
        }
    }

    function chkLogin() {
        var currentUser = "<%=req.session.username%>";
        if (currentUser == "undefined") {
            alert("Please login first");
          location.replace("/user/login");
        } else {
          var xhr = new XMLHttpRequest();
          xhr.open("post", "/house/search", true);
          location.replace("/house/search");
        }
    }

    function logout() {
        var data = new FormData();
        data.append("username", "undefined");
        var xhr = new XMLHttpRequest();
        xhr.open("post", "/user/logout", true);
        xhr.onload = function(e) {
            location.replace("/");
        };
        xhr.send(data);        
    }

    function editHouse(id) {
        var data = new FormData();
        data.append("id", id);
        var xhr = new XMLHttpRequest();
        xhr.open("post", "/house/edit", true);
        xhr.onload = function(e) {
            location.reload();
        };
        xhr.send(data);
    }

    function deleteHouse(id) {
        var data = new FormData();
        data.append("id", id);
        var xhr = new XMLHttpRequest();
        xhr.open("post", "/house/delete", true);
        xhr.onload = function(e) {
            location.reload();
        };
        xhr.send(data);
    }

</script>