<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<link rel="stylesheet" href="/styles/style.css" />
<link rel="stylesheet" href="/styles/nouislider.min.css" />
<link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css'>

<div class="col-md-offset-1 col-lg-offset-2 col-md-10 col-lg-8">
	<div class="codrops-top">
        <button id="home" class="top-bar"><a href="/">Home</a></button>
        <button id="search" type="button" class="top-bar" onclick="chkLogin()">Search</button>

        <button id="admin" type="button" class="top-bar"><a href="/house/admin">Admin</a></button>

        <button id="userhouse" type="button" class="top-bar"><a href="/user/own">My House</a></button>
        <button id="addhouse" type="button" class="top-bar"><a href="/house/add">Add New</a></button>
        <button id="interest" type="button" class="top-bar"><a href="/house/interested">My Interest</a></button>
          
        <button id="login" class="top-bar-right"><a href="/user/login">Login</a></button>  
        <button id="logout" class="top-bar-right" onclick="logout()">Logout</button>   
        <button id="user" class="top-bar-right-user"></button>
    </div>

    <div class="introduction">
        <h1>House Renting System</h1>
        <p>The system is for you to rent houses online</p>
    </div>

    <div class="clearfix">
	    <form action="/house/result" method="GET">
	    	<h1>Set your search indexes</h1>
	    	<table class="info" width="100%">
	    		<tr>
	    			<td style="text-align: right; width:20%">District:</td>
	    			<td width="30%">
	    				<select id="district" name="district">
	    					<option value="">All</option>
	    					<option value="Festival City">Festival City</option>
	    					<option value="Tin Ma Court">Tin Ma Court</option>
	    					<option value="City One Shatin">City One Shatin</option>
	    				</select>
	    			</td>
	    			<td style="text-align: right; width:20%">Bedrooms:</td>
	    			<td width="30%">
	    				<select id="bedroom" name="bedroom">
	    					<option value="">All</option>
	    					<option value="1">1</option>
	    					<option value="2">2</option>
	    					<option value="3">3</option>
	    					<option value="4">4</option>
	    				</select>
	    			</td>	    			
	    		</tr>    			
	    		<tr>
	    			<td style="text-align: right;">Lift:</td>
	    			<td>
	    				<select id="lift" name="lift">
	    					<option value="">All</option>
	    					<option value="Yes">Yes</option>
	    					<option value="No">No</option>
	    				</select>
	    			</td>
	    			<td style="text-align: right;">Guard:</td>
	    			<td>
	    				<select id="guard" name="guard">
	    					<option value="">All</option>
	    					<option value="Yes">Yes</option>
	    					<option value="No">No</option>
	    				</select>
	    			</td>	    				    			
	    		</tr>
	    		<tr>
	    			<td style="text-align:right;">Area(sq feet):</td>
	    			<td colspan="2">
	    				<input id="minArea" name="minArea" style="display: none">
	    				<input id="maxArea" name="maxArea" style="display: none">
	    				<div id="areaSlider" name="area" style="width: 100%; margin: 60px 0 60px 40px;"></div>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td style="text-align:right;">Price(HK$/month):</td>
	    			<td colspan="2">
	    				<input id="minPrice" name="minPrice" style="display: none">
	    				<input id="maxPrice" name="maxPrice" style="display: none">
	    				<div id="priceSlider" name="price" style="width: 100%; margin: 60px 0 60px 40px;"></div>
	    			</td>
	    			<tr>
	    				<td width="20%"></td>
	    				<td width="30%"></td>
	    				<td width="20%"></td>
	    				<td style="text-align: center"><button type="submit">Search</button></td>
	    				
	    			</tr>
	    	</table>
	    	
	    	<ul style="list-style: none;">
			    <% houses.forEach(function(house){
		        %>
		        	<li class="list">
		        		<table>
		        			<tr>
		        				<td>
		        					<img src="<%=house.image%>">
		        				</td>
		        				<td class="top">
					                <h1 class="title"><a href="/house/view/<%=house.id%>"><%=house.title%></a></h1>   
					                <p class="info">District: <%=house.district%></p>
					                <p class="info">Area: <%=house.area%> sq feet</p>
					                <p class="info">Price:<strong>$<%=house.price%>/month</strong></p>
		                		</td>
		        			</tr>
		        		</table>
		        	</li>
		        <%
		        });
		        %>
		        <%if (current == null) current = 1;%>
		        <td colspan="2" align="center">
		        <table width="20%">
		        	<tr>
			        	<td align="center"><a href="/house/search?page=1">&lt;&lt;</td>
			        	<td align="center"><a href="/house/search?page=<%=Math.max(current-1, 1)%>">&lt;</td>
			        	<td align="center"><%=current%>/<%=count%></td>
			       		<td align="center"><a href="/house/search?page=<%=Math.min(parseInt(current)+1, count)%>" aria-label="Next">&gt;</td>
			       		<td align="center"><a href="/house/search?page=<%=count%>">&gt;&gt;</td>
			        </tr>
		        </table>
        	</ul>
	    </form>
    </div>
    
</div>

<script type="text/javascript" src="/js/nouislider.min.js"></script>
<script type="text/javascript" src="/js/nouislider.js"></script>
<script type="text/javascript">

    window.onload = function() {
        if ("<%=req.session.username%>" == "undefined") {
            document.getElementById("admin").setAttribute("style", "display:none");
          	document.getElementById("userhouse").setAttribute("style", "display:none");
            document.getElementById("addhouse").setAttribute("style", "display:none");
            document.getElementById("interest").setAttribute("style", "display:none");            
            document.getElementById("login").setAttribute("style", "display:inline");
            document.getElementById("logout").setAttribute("style", "display:none");
            document.getElementById("user").setAttribute("style", "display:none");
          	     
        } else {
           	document.getElementById("user").innerHTML = "Hi, <%=req.session.username%>";
            document.getElementById("login").setAttribute("style", "display:none");
            document.getElementById("logout").setAttribute("style", "display:inline");
           	document.getElementById("user").setAttribute("style", "display:inline");        	
           	if ("<%=req.session.username%>" == "admin") {
                document.getElementById("admin").setAttribute("style", "display:inline");
                document.getElementById("userhouse").setAttribute("style", "display:none");
                document.getElementById("addhouse").setAttribute("style", "display:none");
                document.getElementById("interest").setAttribute("style", "display:none"); 
            }  else {
                document.getElementById("admin").setAttribute("style", "display:none");
                document.getElementById("userhouse").setAttribute("style", "display:inline");
                document.getElementById("addhouse").setAttribute("style", "display:inline");
                document.getElementById("interest").setAttribute("style", "display:inline"); 
            }     
        }
    }

    function chkLogin() {
      	var currentUser = "<%=req.session.username%>";
      	if (currentUser == "undefined") {
      		alert("Please login first");
          location.replace("/user/login");
      		//document.getElementById("search").className="top-bar";
      	} else {
          var xhr = new XMLHttpRequest();
          xhr.open("post", "/house/search", true);
          location.replace("/house/search");
      		//document.getElementById("search").className="active";
      	}
    }

    function logout() {
    	var data = new FormData();
        data.append("username", "undefined");
        var xhr = new XMLHttpRequest();
        xhr.open("post", "/user/logout", true);
        xhr.onload = function(e) {
            location.replace("/");
        };
        xhr.send(data);
    }

    var areaSlider = document.getElementById("areaSlider");
    noUiSlider.create(areaSlider, {
    	start: [0, 2000],
    	step: 100,
    	behavior: "drag",
    	connect: true,
    	tooltips: true,
    	range: {
    		"min": [0],
    		"max": [2000]
    	}
    });

    areaSlider.noUiSlider.on('update', function(values, handle) {
    	document.getElementById("minArea").value = values[0];
    	document.getElementById("maxArea").value = values[1];
    });

    var priceSlider = document.getElementById("priceSlider");
    noUiSlider.create(priceSlider, {
    	start: [0, 30000],
    	step: 1000,
    	behavior: "drag",
    	connect: true,
    	tooltips: true,
    	range: {
    		"min": [0],
    		"max": [30000]
    	}
    });

    priceSlider.noUiSlider.on('update', function(values, handle) {
    	document.getElementById("minPrice").value = parseInt(values[0]);
    	document.getElementById("maxPrice").value = parseInt(values[1]);
    });

</script>