<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<link rel="stylesheet" href="/styles/style.css" />
<link rel="stylesheet" href="/styles/nouislider.min.css" />

<div class="col-md-offset-1 col-lg-offset-2 col-md-10 col-lg-8">
	<div class="codrops-top">
        <button id="home" class="top-bar"><a href="/">Home</a></button>
        <button id="search" class="top-bar"><a href="/house/search">Search</a></button>
          
        <button id="logout" class="top-bar-right" onclick="logout()">Logout</button>   
        <button id="user" class="top-bar-right-user">Hi, <%=req.session.username%></button>
    </div>

    <div class="introduction">
        <h1>House Renting System</h1>
        <p>The system is for you to rent houses online</p>
    </div>

    <div class="clearfix">
	    <form action="/house/result" method="GET">
	    	<h1>Set your search indexes</h1>
	    	<table class="info">
	    		<tr>
	    			<td style="float: right;">District:</td>
	    			<td>
	    				<select id="district" name="district">
	    					<option value="">All</option>
	    					<option value="Festival City">Festival City</option>
	    					<option value="Tin Ma Court">Tin Ma Court</option>
	    					<option value="City One Shatin">City One Shatin</option>
	    				</select>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td style="float:right;">Bedrooms:</td>
	    			<td>
	    				<select id="bedroom" name="bedroom">
	    					<option value="">All</option>
	    					<option value="1">1</option>
	    					<option value="2">2</option>
	    					<option value="3">3</option>
	    					<option value=">3">&gt;3</option>
	    				</select>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td style="float:right;">Lift:</td>
	    			<td>
	    				<select id="lift" name="lift">
	    					<option value="">All</option>
	    					<option value="Yes">Yes</option>
	    					<option value="No">No</option>
	    				</select>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td style="float:right;">Guard:</td>
	    			<td>
	    				<select id="guard" name="guard">
	    					<option value="">All</option>
	    					<option value="Yes">Yes</option>
	    					<option value="No">No</option>
	    				</select>
	    			</td>
	    		</tr>
	    		<tr>
	    			<td style="float:right;">Area(sq feet):</td>
	    			<td><label class="panel panel-default" id="minArea"></label>
	    				<label class="panel panel-default" id="maxArea"></label>
	    				<div id="areaSlider"></div></td>
	    		</tr>
	    		<tr>
	    			<td style="float:right;">Price(HK$/month):</td>
	    			<td><div id="priceSlider"></div></td>
	    		</tr>
	    	</table>
	    	<button type="submit">Search</button>
	    	<ul style="list-style: none;">
			    <% house.forEach(function(house){
		        %>
		        	<li class="list">
		        		<table>
		        			<tr>
		        				<td>
		        					<img src="<%=house.image%>">
		        				</td>
		        				<td class="top">
					                <h1 class="title"><a href="/house/view/<%=house.id%>"><%=house.title%></a></h1>   
					                <p class="info">District: <%=house.district%></p>
					                <p class="info">Area: <%=house.area%> sq feet</p>
					                <p class="info">Price:<strong>$<%=house.price%>/month</strong></p>
		                		</td>
		        			</tr>
		        		</table>
		        	</li>
		        <%
		        });
		        %>
		        <%if (current == null) current = 1;%>
		        <table width="20%">
		        	<tr>
			        	<td align="center"><a href="/house/search?page=1">&lt;&lt;</td>
			        	<td align="center"><a href="/house/search?page=<%=Math.max(current-1, 1)%>">&lt;</td>
			        	<td align="center"><%=current%>/<%=count%></td>
			       		<td align="center"><a href="/house/search?page=<%=Math.min(parseInt(current)+1, count)%>" aria-label="Next">&gt;</td>
			       		<td align="center"><a href="/house/search?page=<%=count%>">&gt;&gt;</td>
			        </tr>
		        </table>
        	</ul>
	    </form>
    </div>
    
</div>

<script type="text/javascript" src="/js/nouislider.min.js"></script>
<script type="text/javascript" src="/js/nouislider.js"></script>
<script type="text/javascript">

    function logout() {
    	var data = new FormData();
        data.append("username", "undefined");
        var xhr = new XMLHttpRequest();
        xhr.open("post", "/user/logout", true);
        xhr.onload = function(e) {
            location.replace("/");
        };
        xhr.send(data);
    }

    var areaSlider = document.getElementById("areaSlider");
    noUiSlider.create(areaSlider, {
    	start: [0, 2000],
    	step: 100,
    	behavior: "drag",
    	connect: true,
    	range: {
    		"min": [0],
    		"max": [2000]
    	}
    });
    var snapValues = [
    		document.getElementById("minArea"),
    		document.getElementById("maxArea")
    	];
    snapSlider.noUiSlider.on("update", function(values, handle) {
    	snapValues[handle].innerHTML = values[handle];
    });

    var priceSlider = document.getElementById("priceSlider");
    noUiSlider.create(priceSlider, {
    	start: [0, 30000],
    	step: 1000,
    	behavior: "drag",
    	connect: true,
    	range: {
    		"min": [0],
    		"max": [30000]
    	}
    });

</script>